# 14 February 2023

## Q1

A database is a collection of data that is organized in a systematic and structured manner, allowing for easy storage, retrieval, and modification of data.

The main differences between SQL and NoSQL databases are:

1. Data Model: SQL databases use a table-based model, while NoSQL databases use a document-based or key-value model.

2. Query Language: SQL databases use the SQL language to query data, while NoSQL databases use different query languages.

3. Scalability: SQL databases are vertically scalable, meaning that they can handle increased workload by increasing the hardware capacity. NoSQL databases are horizontally scalable, meaning that they can handle increased workload by adding more servers to the database cluster.

4. Consistency: SQL databases offer strong consistency, meaning that all clients see the same view of the data at the same time. NoSQL databases offer eventual consistency, meaning that all clients eventually see the same view of the data, but not necessarily at the same time.

5. Schema: SQL databases have a fixed schema, meaning that the structure of the data is defined beforehand. NoSQL databases have a dynamic schema, meaning that the structure of the data can be changed on-the-fly.

## Q2

DDL stands for Data Definition Language, which is used to define and manipulate the structure of a database schema. DDL statements are used to create, alter, and delete database objects such as tables, views, indexes, etc.

1. CREATE: This statement is used to create a new database object such as a table, view, or index.

`CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   age INT
);`

2. DROP: This statement is used to delete an existing database object such as a table or view.

`DROP TABLE employees;`

3. ALTER: This statement is used to modify the structure of an existing database object such as a table or view.

`ALTER TABLE employees ADD COLUMN salary INT;`

4. TRUNCATE: This statement is used to delete all the rows from a table. Unlike DROP, the table structure remains intact.

`TRUNCATE TABLE employees;`

## Q3

DML stands for Data Manipulation Language, which is used to manipulate data stored in a database.

1. INSERT: The INSERT statement is used to insert new rows into a table. The basic syntax of the INSERT statement is:

`INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);`

2. UPDATE: The UPDATE statement is used to modify existing rows in a table. The basic syntax of the UPDATE statement is:

`UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;`

3. DELETE: The DELETE statement is used to delete rows from a table. The basic syntax of the DELETE statement is:

`DELETE FROM table_name
WHERE condition;`

## Q4

DQL stands for Data Query Language, and it is used to retrieve data from a database. The most common DQL statement is SELECT, which retrieves data from one or more database tables.

`SELECT name, age FROM employees WHERE salary > 50000;`

This will retrieve the "name" and "age" columns from the "employees" table where the "salary" column is greater than $50,000.

## Q5

In a relational database, a primary key is a field or combination of fields that uniquely identifies each record in a table. A primary key is a constraint that is used to enforce data integrity, ensuring that each record in a table is unique and can be easily identified.

A foreign key, on the other hand, is a field in one table that refers to the primary key in another table. It is used to establish a relationship between two tables, allowing data to be linked and queried across multiple tables.

## Q6

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

result = mycursor.fetchall()

for x in result:
  print(x)

The execute() method of the cursor object is used to execute SQL queries on the database. It takes an SQL query as a parameter and returns a result set (if the query returns data) or None (if the query does not return data).

The cursor() method of the database object is used to create a cursor object. The cursor object is used to execute SQL queries and fetch the results.

# Q7

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY