# 17 February 2023

## Q1

MongoDB is a popular document-oriented NoSQL database that stores data in a flexible, semi-structured JSON-like format called BSON. It is designed to be scalable, flexible, and easily manageable.

Non-relational databases, also known as NoSQL databases, are databases that don't use the traditional tabular schema of rows and columns to store data. Instead, they use a variety of data models such as key-value pairs, document-oriented models, or graph models.

MongoDB is preferred over SQL databases in scenarios where the data is unstructured, complex, or constantly changing. It is also preferred in scenarios where high availability and scalability are important, such as in large-scale web applications, real-time analytics, and IoT applications.

## Q2

MongoDB is a popular NoSQL database management system. Some of its key features are:

1. Document-oriented: MongoDB is a document-oriented database, which means that it stores data in the form of documents. Each document is a JSON-like structure that contains key-value pairs of data.

2. Dynamic Schema: MongoDB is a dynamic schema database, which means that you can add or remove fields from a document at any time without affecting other documents.

3. High Availability: MongoDB is designed to ensure high availability. It supports replication, which means that data is automatically copied to multiple servers, so if one server goes down, the other servers can still serve requests.

4. Indexing: MongoDB has a powerful indexing system that allows you to create indexes on any field in a document. This makes querying data faster and more efficient.

5. Rich Query Language: MongoDB has a rich query language that supports a wide range of operators and functions. This makes it easy to perform complex queries on large data sets.

6. Scalability: MongoDB is highly scalable, which means that it can handle large amounts of data and high traffic loads. It can be easily scaled horizontally by adding more servers to a cluster.

## Q3

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 5.0 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 38.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo 
client = pymongo.MongoClient("mongodb+srv://atamotia:atamotia@cluster0.av6ep6v.mongodb.net/?retryWrites=true&w=majority")
db = client['my_database']
coll_db = db['my_record']

## Q4

In [5]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}

data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [6]:
coll_db.insert_one(data1)
coll_db.insert_many(data2)

In [8]:
for i in coll_db.find():
    print(i)

{'_id': ObjectId('63f4ca6d86af780d3668b35f'), 'name': 'rohan', 'age': 23, 'sex': 'male'}
{'_id': ObjectId('63f4ca7686af780d3668b360'), 'phone_number': 123432342, 'email_address': 'rohan@gmail.com', 'address': 'chennai'}
{'_id': ObjectId('63f5059b42791f431c702cc7'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f5059b42791f431c702cc8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f5059b42791f431c702cc9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f5059b42791f431c702cca'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f5059b42791f431c702ccb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f5059b42791f431c702ccc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f5059b42791f431c702ccd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f5059b42791f431c702cce'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f5059b42791f431c702ccf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f5059b42791f431c702cd0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f5059b42791f431c702cd1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f5059b42791f431c702cd2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f5059b42791f431c702cd3'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [9]:
coll_db.find_one()

{'_id': ObjectId('63f4ca6d86af780d3668b35f'),
 'name': 'rohan',
 'age': 23,
 'sex': 'male'}

## Q5

The find() method is used to query a MongoDB database to retrieve data from a collection. It returns a cursor object that can be iterated over to access the documents that match the query.

The find() method can take various parameters such as filter, projection, sorting, and limiting the number of results.

In [14]:
for i in coll_db.find({'name':'Michael'}):
    print(i)

{'_id': ObjectId('63f5059b42791f431c702cca'), 'name': 'Michael', 'address': 'Valley 345'}

## Q6

The sort() method in MongoDB is used to sort the documents in a collection based on a specific field or fields. The method takes one or more key-value pairs as arguments, where each key represents the field to sort on, and the corresponding value represents the sort order for that field (either 1 for ascending order or -1 for descending order).

In [22]:
for i in coll_db.find().sort("name", 1):
    print(i)

{'_id': ObjectId('63f4ca7686af780d3668b360'), 'phone_number': 123432342, 'email_address': 'rohan@gmail.com', 'address': 'chennai'}
{'_id': ObjectId('63f5059b42791f431c702cc7'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f5059b42791f431c702cc8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f5059b42791f431c702cd0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f5059b42791f431c702ccc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f5059b42791f431c702cd2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f5059b42791f431c702cc9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f5059b42791f431c702cca'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f5059b42791f431c702ccd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f5059b42791f431c702ccb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f5059b42791f431c702cce'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f5059b42791f431c702ccf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f5059b42791f431c702cd3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f5059b42791f431c702cd1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f4ca6d86af780d3668b35f'), 'name': 'rohan', 'age': 23, 'sex': 'male'}

# Q7

The delete_one() method is used to delete a single document that matches a given filter. If multiple documents match the given filter, it will only delete the first document that it finds. 

On the other hand, delete_many() is used to delete all documents that match a given filter.

The drop() method is used to delete an entire collection in MongoDB. This will permanently remove all documents within the collection.